.css-k1vhr4 {
  background-color: #000;
}

.css-10trblm {
  color: #fff;
  font-size: 1.5em;
  text-decoration: underline;
}

.css-k3w14i {
  font-size: 1em;
}

.css-5uatcg {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #ff2079;
  margin-top: 3em;
  background-color: transparent;
}

.css-1xgqg4g {
  align-items: center;
  justify-content: center;
  border: 2px solid #ff2079;
  padding: 1em;
  width: 100vw;
}

.css-1p05t8e {
  align-items: center;
  justify-content: center;
  border: 2px solid #ff2079;
  padding: 1.5em;
}

.e16nr0p30 {
  text-decoration: none;
  font-size: 1.2em;
}

.css-183lzff {
  color: #fff;
  font-size: 0.5em;
}

.css-k3w14i {
  color: #fff;
  font-size: 1em;
}

.css-x8wxsk {
  background-color: #000;
  border: 2px solid #ff2079;
  border-radius: 0.75rem;
}

.css-6qob1r {
  background-color: #000;
  border: 3px solid #ff2079;
}

.css-k7vsyb h1 {
  font-size: 2.5em;
}

.css-z09lfk {
  background-color: #ff2079;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  width: auto;
  padding: 0.3rem 0.9rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

code {
  color: #ff2079;
  font-size: 1rem;
  text-decoration: none;
  background-color: transparent;
}

.edgvbvh10:hover {
  background-color: #ff2079;
  border: none;
  color: #fff;
}

.edgvbvh5:hover {
  background-color: #ff2079;
  border: none;
  color: #fff;
}

.css-z09lfk:hover {
  background-color: #000;
  color: #ff2079;
  border: 2px solid #ff2079;
}
